<div class="meta">
  <p class="info" ng-show="content.updatedAt">Last sync: {{content.updatedAt | formatDate}}</p>
</div>
<p ng-show="content.snippet">{{content.snippet}}</p>
<!-- <button ng-click="unsyncItem(content)">Remove</button>
<a class="button" ui-sref="editContent({id: content.id})">Edit</a> -->
<section id="{{content.id}}_layers" ng-show="layers.length">
  <table class="sub-table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Views</td>
      </tr>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="layer in layers" layer-item="layer"></tr>
    </tbody>
  </table>
  <!-- <article ng-repeat="layer in layers" layer-item="layer" class="layer-item clearfix"></article> -->
</section>
