<header id="inner-header" class="form-header">
  <div class="container">
    <div class="six columns offset-by-three">
      <h2>Derived Layers</h2>
      <p>Create new layers based on raw SQL queries.</p>
    </div>
  </div>
</header>
<div id="derived_layers">
  <div class="sql-query" ng-hide="data && data.length">
    <div class="container row">
      <div class="six columns offset-by-three">
        <form class="main-form" ng-submit="submit()">
          <h3>SQL Query</h3>
          <p>
            <textarea ng-model="sql" ui-ace="aceOptions"></textarea>
          </p>
          <input type="submit" value="{{loading ? 'Obtaining results...' : 'Send query'}}" ng-disabled="loading" />
          <p class="err" ng-show="err">{{err}}</p>
        </form>
      </div>
    </div>
  </div>
  <div class="results" ng-show="data && data.length">
    <h3>Sample data</h3>
    <div obj-table="data"></div>
  </div>
  <div class="container row" ng-show="data && data.length">
    <div class="six columns offset-by-three">
      <form ng-submit="create()">
        <p>
          <input type="text" placeholder="Layer name" ng-model="name">
        </p>
        <p>
          <input type="submit" value="Click here to create new layer" />
        </p>
      </form>
    </div>
  </div>
</div>
