<header id="inner-header" class="clearfix">
  <div class="container">
    <div class="twelve columns">
      <nav>
        <form>
          <input type="text" ng-model="search" placeholder="Search anything"/>
          <select ng-model="sort" ng-change="doQuery()">
            <option value="numviews">Sort by most viewed</option>
            <option value="modified">Sort by most recent</option>
            <option value="avgrating">Sort by highest rated</option>
            <option value="title">Sort by title</option>
            <option value="owner">Sort by owner</option>
          </select>
        </form>
      </nav>
    </div>
  </div>
</header>
<section class="synced-container" class="clearfix" ng-show="collection.length">
  <header class="results-header">
    <h2>Collection</h2>
  </header>
  <div class="container">
    <div class="twelve columns">
      <table class="results">
        <thead>
          <tr>
            <td></td>
            <td>Name</td>
            <td>Date</td>
            <!-- <td>Source</td> -->
            <td ng-show="hasRole('editor')">Remove from collection</td>
          </tr>
        </thead>
        <tbody ng-repeat="item in collection = (synced | filter:search)" ng-class="{active: item.$viewLayers}">
          <tr class="clickable" ng-click="toggleLayers(item)">
            <td></td>
            <td class="main">{{item.title}}</td>
            <td>
              {{item.createdAt | formatDate}}
              <span class="modified">Modified: {{item.modifiedAt | formatDate}}</span>
            </td>
            <!-- <td><a ng-href="{{getArcGisUrl(item)}}" rel="external" target="_blank" class="fa fa-link" ng-click="$event.stopPropagation()"></a></td> -->
            <td ng-show="hasRole('editor')"><a href="javascript:void(0);" ng-click="toggleSync(item)" class="fa" ng-class="{'fa-toggle-on': isSynced(item), 'fa-toggle-off': !isSynced(item)}"></a></td>
          </tr>
          <tr>
            <td class="sub" colspan="6">
              <div content-item="isSynced(item)"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="results-container" class="clearfix" ng-show="token">
  <header class="results-header">
    <h2>ArcGIS Library</h2>
    <p>Showing {{content.start}}-{{content.num}} out of {{content.total}} items.</p>
  </header>
  <div class="container">
    <div class="twelve columns">
      <table class="results" ng-controller="ArcGisCtrl">
        <thead>
          <tr>
            <td></td>
            <td>Name</td>
            <td>Date</td>
            <td>Source</td>
            <td ng-show="hasRole('editor')">Add to collection</td>
          </tr>
        </thead>
        <tbody ng-repeat="item in content.results" ng-class="{active: item.$viewLayers}">
          <tr class="clickable" ng-click="toggleLayers(item)">
            <td class="full">
              <content-thumbnail content="item"></content-thumbnail>
            </td>
            <td class="main">{{item.title}}</td>
            <td>
              {{item.created | formatDate}}
              <span class="modified">Modified: {{item.modified | formatDate}}</span>
            </td>
            <td><a ng-href="{{getArcGisUrl(item)}}" ng-click="$event.stopPropagation()" rel="external" target="_blank" class="fa fa-link"></a></td>
            <td ng-show="hasRole('editor')"><a href="javascript:void(0);" ng-click="toggleSync(item)" class="fa" ng-class="{'fa-toggle-on': isSynced(item), 'fa-toggle-off': !isSynced(item)}"></a></td>
          </tr>
          <tr ng-show="isSynced(item)">
            <td class="sub" colspan="6">
              <div content-item="isSynced(item)"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
