<div class="container">
  <div class="twelve columns">
    <header>
      <nav>
        <form>
          <input type="text" ng-model="search" placeholder="Search anything"/>
          <select ng-model="query.type" ng-options="type as type for type in availableTypes" ng-change="doQuery()">
            <option value="">Select content type</option>
          </select>
          <select ng-model="sort" ng-change="doQuery()">
            <option value="numviews">Sort by most viewed</option>
            <option value="modified">Sort by most recent</option>
            <option value="avgrating">Sort by highest rated</option>
            <option value="title">Sort by title</option>
            <option value="owner">Sort by owner</option>
          </select>
        </form>
      </nav>
      <p>Showing {{content.start}}-{{content.num}} out of {{content.total}} items.</p>
    </header>
  </div>
</div>
<div class="container">
  <div class="twelve columns">
    <section class="results">
      <h2>Results</h2>
      <table class="results" ng-controller="ArcGisCtrl">
        <thead>
          <tr>
            <td>Name</td>
            <td>Date</td>
            <td>Type</td>
            <td>Synchronize</td>
            <td>Source</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in content.results">
            <td class="main">{{item.title}}</td>
            <td>
              {{item.created | formatDate}}
              <span class="modified">Modified: {{item.modified | formatDate}}</span>
            </td>
            <td>{{item.type}}</td>
            <td><a href="javascript:void(0);" ng-click="syncItem(item)" class="fa fa-toggle-on"></a></td>
            <td><a ng-href="{{getArcGisUrl(item)}}" rel="external" target="_blank" class="fa fa-link"></a></td>
          </tr>
        </tbody>
      </table>
      <!-- <article ng-repeat="item in content.results" class="content-item clearfix">
        <div class="clearfix">
          <content-thumbnail content="item"></content-thumbnail>
          <h3>{{item.title}}</h3>
        </div>
        <div class="meta">
          <p>Created: {{item.created | formatDate}}</p>
          <p>Modified: {{item.modified | formatDate}}</p>
        </div>
        <p ng-show="item.snippet">{{item.snippet}}</p>
        <button ng-click="syncItem(item)">Synchronize</button>
      </article> -->
    </section>
  </div>
</div>
<div class="container">
  <div class="eight columns">
    <section id="synced" ng-show="synced.length">
      <h2>Synced data</h2>
      <article ng-repeat="item in synced" content-item="item" class="content-item clearfix"></article>
    </section>
    <section id="views" ng-show="views.length">
      <h2>Views</h2>
      <article ng-repeat="view in views" class="view-item clearfix">
        <h3>{{view.name}}</h3>
        <a class="button" ui-sref="editView({id: view.id})">Edit view</a>
        <button ng-click="removeView(view)">Delete view</button>
      </article>
    </section>
  </div>
</div>
