<header id="inner-header" class="clearfix">
  <div class="container">
    <div class="twelve columns">
      <h2>Categories</h2>
      <!-- <nav>
        <form>
          <input type="text" ng-model="search" placeholder="Search anything"/>
        </form>
      </nav> -->
      <nav class="head-nav">
        <a ui-sref="editLayerCategory">New category</a>
      </nav>
    </div>
  </div>
</header>
<section class="tabled-list clearfix">
  <div class="container">
    <div class="twelve columns">
      <div class="tabled-list-content">
        <p class="info" ng-hide="categories.length">No categories were found.</p>
        <table class="results" ng-show="filteredCategories.length && categories.length">
          <thead>
            <tr>
              <td></td>
              <td>Name</td>
              <td>Description</td>
              <td ng-show="hasRole('editor')">Remove category</td>
            </tr>
          </thead>
          <tbody ng-repeat="item in filteredCategories = (categories | filter:search)">
            <tr class="clickable" ng-click="viewCategory(item)">
              <td></td>
              <td class="main">{{item.name}}</td>
              <td>{{item.description}}</td>
              <td ng-show="hasRole('editor')">
                <a href="javascript:void(0);" ng-click="$event.stopPropagation(); removeCategory(item)" class="fa fa-remove"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
