<header id="inner-header" class="clearfix">
  <div class="container">
    <div class="twelve columns">
      <nav>
        <h2>Layers Categories</h2>
        <form>
          <input type="text" ng-model="search" placeholder="Search anything"/>
        </form>
      </nav>
    </div>
  </div>
</header>
<section class="tabled-list clearfix">
  <div class="container">
    <div class="twelve columns">
      <div class="tabled-list-content">
        <p class="info" ng-hide="categories.length">No layers were found.</p>
        <table class="results" ng-show="filteredCategories.length && categories.length">
          <thead>
            <tr>
              <td></td>
              <td>Title</td>
              <td>Source</td>
              <td>Date</td>
              <td>Status</td>
              <td ng-show="hasRole('editor')">Remove layer</td>
            </tr>
          </thead>
          <tbody ng-repeat="item in filteredCategories = (categories | filter:search)">
            <tr class="clickable" ng-click="viewCategory(item)">
              <td></td>
              <td class="main">{{item.title | translate}}</td>
              <td>{{item.source}}</td>
              <td>
                {{item.createdAt | formatDate}}
                <span class="modified">Updated: {{item.updatedAt | formatDate}}</span>
              </td>
              <td>
              </td>
              <td ng-show="hasRole('editor')">
                <a href="javascript:void(0);" ng-click="$event.stopPropagation(); removeLayer(item)" class="fa fa-remove"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
