<td class="main">
  <h3>{{layer.name}}</h3>
  <p class="actions" ng-show="token">
    <a class="button" ui-sref="editLayer({id:layer.id})">Edit layer</a>
  </p>
</td>
<td>
  <p class="tag">{{layer.geometryType}}</p>
</td>
<td>
  <p>{{layer.featureCount}} features</p>
</td>
<td>
  <p>{{(layer.fields | parseLayerField | map:'name').join(', ')}}</p>
</td>
<td>
  <div ng-repeat="view in views" view-item="view" class="view-item"></div>
  <a class="button" ui-sref="editView({layerId: layer.id})" ng-show="token">Create new view</a>
</td>
