<header id="inner-header" class="clearfix">
  <div class="container">
    <div class="twelve columns">
      <h2>{{layer.name | translate}}</h2>
    </div>
  </div>
</header>
<section id="single-layer-content" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <table class="layers-table results">
          <tbody>
            <tr>
              <th>ID</th>
              <td>
                <p>{{layer.id}}</p>
              </td>
            </tr>
            <tr>
              <th>Source</th>
              <td>
                <p>{{layer.source}}</p>
              </td>
            </tr>
            <tr>
              <th>Geometry Type</th>
              <td>
                <p class="tag" ng-repeat="tag in tags = (layer.geometryType || layer.type).split(',')">{{tag}}</p>
              </td>
            </tr>
            <tr ng-hide="layer.type == 'raster'">
              <th>Feature count</th>
              <td>
                <p>{{layer.featureCount}} features</p>
              </td>
            </tr>
            <tr ng-hide="layer.type == 'raster'">
              <th>Fields</th>
              <td>
                <p>{{(layer.fields | parseLayerField | map:'name').join(', ')}}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          <a class="button" ui-sref="editLayer({id:layer.id})" ng-show="isOk(layer) && hasRole('editor')">Edit layer</a>
        </p>
      </div>
      <div class="three columns">
        <p class="date">
          {{layer.createdAt | formatDate}}
          <span class="modified">Updated: {{layer.updatedAt | formatDate}}</span>
        </p>
        <div class="layer-status-box">
          <p class="status-icon" ng-class="{ok: isOk(layer), err: hasError(layer)}">
            <span class="fa fa-refresh fa-spin" ng-hide="isOk(layer) || hasError(layer)"></span>
            <span class="fa fa-check-circle" ng-show="isOk(layer)"></span>
            <span class="fa fa-times" ng-show="hasError(layer)"></span>
            <span class="status-text" ng-hide="isOk(layer)">{{layer.sync.status}}</span>
          </p>
          <p class="last-sync" ng-show="layer.sync.finishedAt">Last sync {{layer.sync.finishedAt | formatDate}}</p>
          <p class="actions" ng-show="hasRole('editor')">
            <a class="button" ng-click="resync()" ng-show="(isOk(layer) || hasError(layer)) && layer.source != 'uploaded'">
              <span class="fa fa-refresh"></span>
              Resync layer
            </a>
          </p>
          <p class="sync-err" ng-show="layer.sync.message && !isOk(layer)">{{layer.sync.message}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <header class="inner-sub-header">
          <div class="clearfix">
            <h3>Layer categories</h3>
            <nav ng-show="hasRole('editor')">
              <a ui-sref="layerCategory">Manage categories</a>
              <a ui-sref="editLayerCategory">+ Create new category</a>
            </nav>
          </div>
        </header>
        <section class="layer-categories">
          <p class="info" ng-show="hasRole('editor') && !layerCategories.length">This layer has no categories. Click on the categories below to associate them to this layer.</p>
          <a class="category" href="javascript:void(0);" ng-repeat="category in categories" ng-click="hasRole('editor') ? toggleCategory(category) : null" ng-class="{active: hasCategory(category)}" ng-hide="!hasRole('editor') && !hasCategory(category)">
            <span class="fa fa-square-o" ng-hide="hasCategory(category)"></span>
            <span class="fa fa-check-square-o" ng-show="hasCategory(category) && hasRole('editor')"></span>
            {{category.name}}
          </a>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <header class="inner-sub-header">
          <div class="clearfix">
            <h3>Layer views</h3>
            <nav>
              <a ui-sref="editView({layerId: layer.id})" ng-show="(hasRole('editor') || hasRole('author')) && (isOk(layer))">+ New view</a>
            </nav>
          </div>
        </header>
        <section class="tabled-list">
          <p class="info" ng-hide="views.length">
            No views were found.
            <a ui-sref="editView({layerId: layer.id})" ng-show="(hasRole('editor') || hasRole('author')) && (isOk(layer))">Click here to create the first!</a>
          </p>
          <table class="results" ng-show="views.length">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Date</th>
                <th ng-show="hasRole('editor') || hasRole('author')">Actions</th>
              </tr>
            </thead>
            <tr ng-repeat="view in views" class="clickable" ng-click="openView(view)">
              <td></td>
              <td class="main">
                <a ui-sref="generateMap({views: view.id})">{{view.name}}</a>
              </td>
              <td>
                {{view.createdAt | formatDate}}
                <span class="modified">Updated: {{view.updatedAt | formatDate}}</span>
              </td>
              <td ng-show="canEditView(view)" ng-click="$event.stopPropagation()">
                <a ui-sref="editView({id: view.id})"><span class="fa fa-edit"></span></a>
                <a href="javascript:void(0);" ng-click="removeView(view)"><span class="fa fa-remove"></span></a>
              </td>
            </tr>
          </table>
        </section>
      </div>
    </div>
  </div>
</section>
