<header id="inner-header">
  <div class="container">
    <div class="twelve columns">
      <h3>Analysis</h3>
      <h2>{{analysis.title}}</h2>
    </div>
  </div>
</header>
<div class="container">
  <div class="twelve columns">
    <p>{{analysis.description}}</p>
    <h3>Query</h3>
    <pre><code>{{analysis.query}}</code></pre>
    <h3>Result</h3>
    <div obj-table="analysis.results"></div>
    <h3>Template</h3>
    <p ng-show="analysis.dataTemplate">{{analysis.results | dataTemplate:analysis.dataTemplate||''}}</p>
    <p ng-hide="analysis.dataTemplate" ng-bind-html="analysis.results | list | trustHtml"></p>
  </div>
</div>
